.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}

.slider {
    height: 100px;
    margin: auto;
    position: relative;
    width: 960px;
    overflow: hidden;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
}

.slider .slide-track {
    display: flex;
    width: calc(250px * 14);
    animation: scroll 40s linear infinite;
}

.slider .slide {
    height: 100px;
    width: 250px;
}

.slider .slide img {
    height: 100px;
    width: 250px;
    object-fit: cover;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}