@keyframes slider {
    0% {
        left: 0%;
    }

    10% {
        left: -50%;
    }
        
    20% {
        left: -100%;
    }

    30% {
        left: -200%;
    }

    35% {
        left: -200%;
    }

    40% {
        left: -300%;
    }

    50% {
        left: -400%;    
    }

    60% {
        left: -300%;
    }

    70% {
        left:-200%;
    }

    80% {
        left: -300%;
    }    

    90% {
        left: -50%;
    }

    100% {
        left: -0%;
    }
}


#slider {
    position: relative;
    text-align: center;
    top: 10px;
    margin: 0 auto;
}

#slides article{
    width: 20%;
    float: left;
}

#slider .image {
    width: 500%;
    line-height: 0;
    margin: 0;
    position: relative;  
    animation: slider 30s infinite;  
}

#owerflow {
    width: 100%;
    overflow: hidden;
}

article img {
    width: 100%;
}

#slides .image:hover {
    animation-play-state: paused;
}
