:root {
    --bs-body-color: #182430;
    --bs-body-font-size: 1rem;
    --bs-font-sans-serif: "Libre Franklin", sans-serif;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-bg: #fff;
    --bs-light-rgb: 248, 249, 250;
    --bs-white-rgb: 255,255,255;
    --bs-dark-rgb: 0, 0, 0;
    --bs-body-font-family: var(--bs-font-sans-serif);
}

* {
    box-sizing: border-box;
}

.h2 {
    color: var(--bs-body-color);
    font-size: var(--bs-body-font-size);
}



body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);    
    color: var(--bs-body-color); 
    background-color: var(--bs-body-bg);
}

.bg-white {
    background-color: rgb(var(--bs-white-rgb));


}

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;

}

.row {
    --bc-gutter-x: 1.5rem;
    --bc-gutter-y: 0;
    display: flex;
    margin-top: calc(-1 *var(--bc-gutter-y));
    margin-right: calc(-0.5 *var(--bc-gutter-x));
    margin-left: calc(-0.5 *var(--bc-gutter-x));   
}

.row>* {
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bc-gutter-x)*0.5);
    padding-left: calc(var(--bc-gutter-x)*0.5);
    margin-top: calc(var(--bc-gutter-y));    
}

/* .py-1 {
    padding-top: 0.25rem !important; 
    padding-bottom: 0.25rem !important; 
} */


.py-5 {
    padding-top: 3rem !important; 
    padding-bottom: 3rem !important; 
}

.product,
.text-center{
    text-align: center;    
}

.mb-3 {
    margin-bottom: 1rem;
}

.img-flued {
    max-width: 100%;
}

/* navigation */


.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;    
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar .nav-link {
    font-size: 0.92rem;
}

.navbar-brand {
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;   
    margin-right: 1rem;       
    padding-top: .3125rem;
    padding-bottom: .3125rem;
}

.navbar-collapse {
    align-items: center;
    flex-basis: 100%;
    flex-grow: 1;
}

.navbar-expand {
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.navbar-expand .navbar-nav {
    flex-direction: row;
}

.navbar-expand .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: space-between;

}

.navbar-nav {
    list-style: none;  
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.navbar-nav .nav-link {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
}

.nav-link {
    display: block;
    font-weight: 700;
    color: #dcb14a;
    text-decoration: none;
    padding: 0.5rem 1rem !important;
}


.h2 {

}

.list-unstyled {
    list-style: none;   
}

.list-inline {
    list-style: none;

}
.list-inline-item {
    display: inline-block;
}

.reset-anchor{
    text-decoration: none;
    color: inherit;
}


.bg-dark {
    background-color: rgb(var(--bs-dark-rgb));
}

.text-white {
    color: white;
}

.small {
    font-size: .888em;
}

.text-muted {
    color: #6c757d;
}

